body {
    margin: 0%;
    padding: 0%;
    /* background: linear-gradient(rgb(105, 202, 234) 60%, orange) */
}


main {
    padding: 16px;
    margin-bottom: 10%;

}


footer {
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    bottom: 10%;
    text-align: right;
    background: rgb(112, 192, 246);


    /* bottom: 0;
    height: 2.5rem;
    width: 100%; */
}

#food {
    height: 200px;
}

a {
    text-decoration: none;
    color: rgb(14, 95, 5);
}

nav {
    border: 1px black;
    padding: 16px;
    background: rgba(225, 27, 27, 0.817);
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: large;
    transition: margin-right 2s;
}

.recipes {
    margin: 0.5%;
    display: inline-grid;
    padding: 4%;
    box-shadow: 5px 5px 5px -1px rgb(22, 124, 241);
    transition: box-shadow 0.5s;

}

.recipes:hover {
    box-shadow:5px 5px 5px -1px rgb(161, 8, 184);
}

.items {
    box-shadow: 2px orange;
}

.items tr:nth-child(even) {
    background-color: rgba(164, 162, 162, 0.734);
}
.tittle {
    color: white;
}

.titlle {
    text-indent: 4%;
}

.steps {
    display: inline-grid;
}
